In [284]:
#Libraries
import pandas as pd
import numpy as np
import re
from sklearn.ensemble import RandomForestRegressor

In [285]:
raw = pd.read_csv('/home/deven/Desktop/Vidooly/train_data.csv')
raw.head()

,vidid,adview,views,likes,dislikes,comment,published,duration,category
0,VID_18655,40,1031602,8523,363,1095,2016-09-14,PT7M37S,F
1,VID_14135,2,1707,56,2,6,2016-10-01,PT9M30S,D
2,VID_2187,1,2023,25,0,2,2016-07-02,PT2M16S,C
3,VID_23096,6,620860,777,161,153,2016-07-27,PT4M22S,H
4,VID_10175,1,666,1,0,0,2016-06-29,PT31S,D

In [286]:
rawtest = pd.read_csv('/home/deven/Desktop/Vidooly/test_data.csv')
rawtest.head()

       vidid    views likes dislikes comment   published  duration category
0   VID_1054   440238  6153      218    1377  2017-02-18   PT7M29S        B
1  VID_18629  1040132  8171      340    1047  2016-06-28   PT6M29S        F
2  VID_13967    28534    31       11       1  2014-03-10  PT37M54S        D
3  VID_19442  1316715  2284      250     274  2010-06-05   PT9M55S        G
4    VID_770  1893173  2519      225     116  2016-09-03    PT3M8S        B

In [287]:
#Converting Dates to Quarters
raw['qtr'] = pd.to_datetime(raw.published).dt.quarter
raw = raw.drop('published', axis = 1)
print raw.head()

rawtest['qtr'] = pd.to_datetime(rawtest.published).dt.quarter
rawtest = rawtest.drop('published', axis = 1)
print rawtest.head()

       vidid  adview    views likes dislikes comment duration category  qtr
0  VID_18655      40  1031602  8523      363    1095  PT7M37S        F    3
1  VID_14135       2     1707    56        2       6  PT9M30S        D    4
2   VID_2187       1     2023    25        0       2  PT2M16S        C    3
3  VID_23096       6   620860   777      161     153  PT4M22S        H    3
4  VID_10175       1      666     1        0       0    PT31S        D    2
       vidid    views likes dislikes comment  duration category  qtr
0   VID_1054   440238  6153      218    1377   PT7M29S        B    1
1  VID_18629  1040132  8171      340    1047   PT6M29S        F    2
2  VID_13967    28534    31       11       1  PT37M54S        D    1
3  VID_19442  1316715  2284      250     274   PT9M55S        G    2
4    VID_770  1893173  2519      225     116    PT3M8S        B    3

In [288]:
z = raw.duration
new_dur = []
for each in z:
    num = re.findall(r'\d+', each)
    if len(num)==1:
        new_dur.append(int(num[0]))
    elif len(num)==2:
        new_dur.append((int(num[0])*60)+(int(num[1])))
    elif len(num)==3:
        new_dur.append(((int(num[0]))*3600)+(int(num[1])*60)+int(num[2]))
y = rawtest.duration
new_dur_test = []
for each in y:
    num = re.findall(r'\d+', each)
    if len(num)==1:
        new_dur_test.append(int(num[0]))
    elif len(num)==2:
        new_dur_test.append((int(num[0])*60)+(int(num[1])))
    elif len(num)==3:
        new_dur_test.append(((int(num[0]))*3600)+(int(num[1])*60)+int(num[2]))

In [289]:
raw['duration_sec'] = new_dur
rawtest['duration_sec'] = new_dur_test
raw = raw.drop('duration', axis = 1)
rawtest = rawtest.drop('duration', axis = 1)
print raw.head()
print rawtest.head()

       vidid  adview    views likes dislikes comment category  qtr  \
0  VID_18655      40  1031602  8523      363    1095        F    3
1  VID_14135       2     1707    56        2       6        D    4
2   VID_2187       1     2023    25        0       2        C    3
3  VID_23096       6   620860   777      161     153        H    3
4  VID_10175       1      666     1        0       0        D    2

   duration_sec
0           457
1           570
2           136
3           262
4            31
       vidid    views likes dislikes comment category  qtr  duration_sec
0   VID_1054   440238  6153      218    1377        B    1           449
1  VID_18629  1040132  8171      340    1047        F    2           389
2  VID_13967    28534    31       11       1        D    1          2274
3  VID_19442  1316715  2284      250     274        G    2           595
4    VID_770  1893173  2519      225     116        B    3           188

In [290]:
from sklearn.preprocessing import LabelEncoder

In [291]:
a = raw.category
b = rawtest.category
a_lab = LabelEncoder().fit_transform(a)
b_lab = LabelEncoder().fit_transform(b)
raw = raw.drop('category', axis = 1)
rawtest = rawtest.drop('category', axis = 1)
raw['category'] = a_lab
rawtest['category'] = b_lab
print raw.head()
print rawtest.head()

       vidid  adview    views likes dislikes comment  qtr  duration_sec  \
0  VID_18655      40  1031602  8523      363    1095    3           457
1  VID_14135       2     1707    56        2       6    4           570
2   VID_2187       1     2023    25        0       2    3           136
3  VID_23096       6   620860   777      161     153    3           262
4  VID_10175       1      666     1        0       0    2            31

   category
0         5
1         3
2         2
3         7
4         3
       vidid    views likes dislikes comment  qtr  duration_sec  category
0   VID_1054   440238  6153      218    1377    1           449         1
1  VID_18629  1040132  8171      340    1047    2           389         5
2  VID_13967    28534    31       11       1    1          2274         3
3  VID_19442  1316715  2284      250     274    2           595         6
4    VID_770  1893173  2519      225     116    3           188         1

In [292]:
raw = raw[~raw.views.str.contains("F")]

In [293]:
raw = raw[~raw.likes.str.contains("F")]

In [294]:
raw = raw[~raw.dislikes.str.contains("F")]

In [295]:
raw = raw[~raw.comment.str.contains("F")]

In [296]:
raw.shape, rawtest.shape

((14637, 9), (8764, 8))

In [297]:
rawtest = rawtest[~rawtest.views.str.contains("F")]

In [298]:
rawtest = rawtest[~rawtest.likes.str.contains("F")]

In [299]:
rawtest = rawtest[~rawtest.dislikes.str.contains("F")]

In [300]:
rawtest = rawtest[~rawtest.comment.str.contains("F")]

In [301]:
s1 = raw.views
s2 = raw.likes
s3 = raw.dislikes
s4 = raw.comment
raw.views = pd.to_numeric(s1)
raw.likes = pd.to_numeric(s2)
raw.dislikes = pd.to_numeric(s3)
raw.comment = pd.to_numeric(s4)

In [302]:
sw1 = rawtest.views
sw2 = rawtest.likes
sw3 = rawtest.dislikes
sw4 = rawtest.comment
rawtest.views = pd.to_numeric(sw1)
rawtest.likes = pd.to_numeric(sw2)
rawtest.dislikes = pd.to_numeric(sw3)
rawtest.comment = pd.to_numeric(sw4)

In [303]:
print raw.dtypes
print rawtest.dtypes

vidid           object
adview           int64
views            int64
likes            int64
dislikes         int64
comment          int64
qtr              int64
duration_sec     int64
category         int64
dtype: object
vidid           object
views            int64
likes            int64
dislikes         int64
comment          int64
qtr              int64
duration_sec     int64
category         int64
dtype: object

In [304]:
test_id = rawtest.vidid
raw = raw.drop('vidid', axis = 1)
rawtest = rawtest.drop('vidid', axis = 1)
target = raw.adview
predictors = raw.drop(["adview"], axis =1)

In [305]:
#Random Forest

rf_model = RandomForestRegressor(n_estimators=1000, random_state=42)
rf_model.fit(predictors, target)
rf_pred = rf_model.predict(rawtest)
print np.ceil(rf_pred)

[515. 490. 131. ...  27.   7. 240.]

TypeError: 'int' object is not iterable

In [306]:
for i in range(len(rf_pred)):
    if rf_pred[i]<=0:
        rf_pred[i]=0
pred = np.ceil(rf_pred)

In [307]:
d = {'vid_id': test_id}
sub = pd.DataFrame(data=d)
sub['ad_view'] = pred
sub.ad_view = sub.ad_view.astype(int)

In [308]:
sub

         vid_id  ad_view
0      VID_1054      515
1     VID_18629      490
2     VID_13967      131
3     VID_19442       36
4       VID_770     3040
5     VID_10315       71
6      VID_7417       27
7     VID_17788      308
8     VID_14591        6
9      VID_1228       58
10    VID_10153     1843
11     VID_5667       35
12    VID_22775      890
13     VID_8353      322
14      VID_486      376
15    VID_17460     2913
16     VID_5867      174
17    VID_15951       70
18    VID_14890      115
19     VID_7219       14
20    VID_20045     1977
21    VID_11874       83
22     VID_1208     3188
23     VID_4529       12
24     VID_6793      184
25    VID_18254     1782
26    VID_11155      129
27    VID_12257      438
28     VID_4207        6
29    VID_23276     2479
...         ...      ...
8734  VID_12829      292
8735   VID_3114      165
8736   VID_7754        6
8737   VID_3466      157
8738  VID_13560      226
8739  VID_12048     4155
8740  VID_16210        9
8741  VID_19455      152
8742  VID_16049        3
8743  VID_19659      950
8744  VID_19451       15
8745  VID_14956     1912
8746  VID_13957       17
8747  VID_12402       48
8748  VID_18369     4037
8749   VID_7985        4
8750  VID_16796        4
8751   VID_2746      606
8752  VID_10415        7
8753  VID_16194        9
8754  VID_23129        9
8755    VID_516     2764
8756  VID_17525       67
8757  VID_17972       12
8758   VID_7927      162
8759   VID_2944      428
8760   VID_8195        8
8761  VID_18973       27
8762   VID_5849        7
8763   VID_8494      240

[8549 rows x 2 columns]

In [310]:
sub.to_csv('/home/deven/Desktop/Vidooly/submission.csv', encoding='utf-8')

In [311]:
rawtest.to_csv('/home/deven/Desktop/Vidooly/test_data_used.csv', encoding='utf-8')